<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.buaa.yaodh.android_the_big_nerd_ranch_guide" >

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".geo_quiz.QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name=".geo_quiz.CheatActivity"
            android:label="@string/title_activity_cheat" >
        </activity>
        <activity
            android:name=".criminal_intent.CrimeActivity"
            android:label="@string/title_activity_crime" >
        </activity>
        <activity
            android:name=".criminal_intent.CrimeListActivity"
            android:label="@string/title_activity_crime_list" >
        </activity>
        <activity
            android:name=".criminal_intent.CrimePagerActivity"
            android:label="@string/title_activity_crime_pager" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".criminal_intent.CrimeListActivity"/>
        </activity>
        <activity android:name=".criminal_intent.CrimeCameraActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".hello_moon.HelloMoonActivity"
            android:label="@string/title_activity_hello_moon"
            android:theme="@style/Base.ThemeOverlay.AppCompat.Dark">
        </activity>
    </application>

</manifest>
